#body{
    display: flex;
    align-content: start;
    justify-content: center;
    background-color: rgb(136, 108, 228);
}
.box{
    background-color: rgb(130, 102, 222);
}
@media (orientation: landscape) { 
.gridContainer{
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 1fr minmax(30px, 1fr);
    grid-template-rows: minmax(30px, 1fr) minmax(30px, 1fr) 5em 5em;
    gap: 1em;
    grid-template-areas: 
    "box2 box1 box4"
    "box3 box1 box4"
    "box5 box5 box5 "
    "box6 box6 box6";
}
.mask1 {
    width:auto;
    height: 100vh;
    aspect-ratio: 4/3;
    margin-bottom: 10em;
    mask-image: url(heart.png);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 0%;
    animation-name: animation1;
    animation-duration: 8s;  
    animation-delay: 1s;
    animation-fill-mode: forwards; 
    animation-timing-function: ease-in-out; 
}
}
@media (orientation: portrait) { 
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 20em 5em 5em;
    gap: 1em;
    grid-template-areas: 
    "box1 box1 box1 box1"
    "box2 box2 box3 box3"
    "box4 box4 box4 box4"
    "box5 box5 box5 box6";
}
.mask1 {
    width:10vw;
    height: auto;
    aspect-ratio: 4/3;
    mask-image: url(heart.png);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 0%;
    animation-name: animation1;
    animation-duration: 8s;  
    animation-delay: 1s;
    animation-fill-mode: forwards; 
    animation-timing-function: ease-in-out; 
}
}
@keyframes animation1 {
    from{mask-size: 0%;}
    to {mask-size: 200%;}
}